*{
    padding: 0;
    margin: 0;
}

.menu{
    width: 100%;
    border: 1px solid #000000;
}

.menu h1{
    color: #000000;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.imagen_central{
    width: 100%;
}

.imagen_central img{
   width: 80%;
   height: 50%;
}

.pie_pagina{
    width: 100%;
    height: 30px;
    border: 1px solid #000000;
}

.marcas {
    width: 100%;
    border: 1px solid #000000;
    height: 500px;
}

.marcas h2{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular';
}

.marcas .contenedor_marcas{
    width: 100%;
    height: 100%;
    position: inherit;
}

.marcas .contenedor_marcas img{
    width: 30%;
    height: 90%;
}

.temporadas {
    width: 100%;
    border: 1px solid #000000;
    height: 500px;
}

.temporadas h2{
    padding-top: 10px;
    color: #000000;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular';
}

.temporadas .contenedor_temporadas{
    width: 100%;
    height: 100%;
    position: inherit;
}

.temporadas .contenedor_temporadas img{
    width: 30%;
    height: 90%;
}

.pie_pagina h3{
    color: #000000;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


/*CSS MUJERES.HTML*/



/*CSS HOMBRES.HTML*/