h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: chartreuse;
    padding: 10px;
}
nav ul{
    text-align: center;
   list-style-type: none;
}
nav li{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 1px;
    width: 12em;
    
}
nav li:hover {
    background-color: #baf56e;
}
h2{
    text-align: center;
}