.easyshop{
    background-color: #FFBD33;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 10px;
}
.temp1{
    background-color: aqua;
    color: black;
    font-size: 4em ;
    text-align: center ;
    font-family: "lato";    

}

.temporadaniños{
    
    text-align: center ;
    font-family: "lato";
    font-size: 4em ;

}
.temporadaniñas{
    background-color: blueviolet;
    color: black;
    text-align: center;
    font-family: "lato";
    font-size: 4em ;

}

nav {
    width: 100%;
    list-style-type: none;
    text-align: center;

}
nav li {
    display: inline-flex;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 150px;
}
nav li:hover {
    background-color: #baf56e;
}
.polo{
    font-size: 2em ;
    
}       

.pantalon{
    font-size: 2em ;

}

.blusa{
    font-size: 2em ;


}
.pan{
    font-size: 2em ;

}