.temp1{
    background-color: aqua;
    color: black;
    font-size: 4em ;
    text-align: center ;    

}

.temporadaniños{
    background-color: blue;
    color: black;
    text-align: center ;

}
.temporadaniñas{
    background-color: blueviolet;
    color: black;
    text-align: center;
    
}